/* ========== Import ========== */
/*@import "fonts";*/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic';
/* ========== Variable ========== */
/* ========== Basic styles ========== */
html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #222;
}
p {
  margin-bottom: 36px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
svg:root {
  width: 100% !important;
  height: 100% !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
br {
  clear: both;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.hidden,
[hidden] {
  display: none !important;
}
.img-adp,
.iframe-adp {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
#wrapper {
  min-height: -webkit-calc(100vh - 310px);
  min-height: calc(100vh - 310px);
}
.wrap-top {
  padding-top: 163px;
}
.footer {
  height: 310px;
  background: #333;
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  -webkit-transition: color .3s;
  transition: color .3s;
}
a:hover {
  color: #ecaa2d;
}
/* styly slick dots */
.carousel-index .slick-dots {
  position: absolute;
  left: 350px;
  top: 320px;
  width: 100%;
}
.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots li.slick-active button {
  background: #a6a;
}
.slick-dots li button {
  border: none;
  background: #bfbfbf;
  width: 10px;
  height: 10px;
  font-size: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* input
================================================================================*/
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}
/* Include Style
================================================================================*/
/* header
================================================================================*/
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.header-wrap {
  zoom: 1;
}
.header-wrap:before,
.header-wrap:after {
  content: "";
  display: table;
}
.header-wrap:after {
  clear: both;
}
/* header-top
================================================================================*/
.header-top {
  background: #222;
  height: 58px;
  padding-top: 18px;
}
/* location */
.location li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.location li .city {
  margin-right: 68px;
}
.location li .tel {
  margin-right: 71px;
}
.city {
  position: relative;
  padding-left: 21px;
}
.city:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 11px;
  height: 16px;
  background: url(../images/svg/loc.svg) no-repeat;
  display: block;
}
.tel {
  position: relative;
  padding-left: 22px;
}
.tel:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 10px;
  height: 16px;
  display: block;
  background: url(../images/svg/tel.svg) no-repeat;
}
.link-opt {
  color: #fff;
}
/* menu-top */
.menu-top li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.menu-top li .liked {
  margin-right: 34px;
}
.liked {
  position: relative;
  color: #fff;
  padding-left: 27px;
}
.liked:hover .like-ico path {
  fill: #ecaa2d;
}
.liked .like-ico {
  position: absolute;
  left: 0;
  top: -2px;
  width: 16px;
  height: 14px;
}
.liked .like-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.lk {
  position: relative;
  padding-left: 27px;
  -webkit-transition: color .3s;
  transition: color .3s;
  cursor: pointer;
}
.lk:hover {
  color: #ecaa2d;
}
.lk:hover .lk-ico path {
  fill: #ecaa2d;
}
.lk .lk-ico {
  position: absolute;
  left: 0;
  top: -3px;
  width: 15px;
  height: 16px;
}
.lk .lk-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
/* header-main
================================================================================*/
.header-main {
  border-bottom: 2px solid #222;
  height: 75px;
}
.logo-wrap {
  float: left;
  padding-top: 18px;
}
.logo-wrap span {
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
  margin: 0 30px;
}
.logo {
  display: inline-block;
}
.banner-wrap {
  float: left;
  padding-top: 14px;
}
.banner {
  display: inline-block;
}
.cart-wrap {
  padding-top: 16px;
  width: 270px;
  float: right;
  zoom: 1;
  overflow: hidden;
}
.cart-wrap:before,
.cart-wrap:after {
  content: "";
  display: table;
}
.cart-wrap:after {
  clear: both;
}
.cart {
  width: 50px;
  float: left;
  display: block;
  height: 42px;
  border: 1px solid #efefef;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #f7f7f7;
  position: relative;
}
.cart:hover .cart-ico path {
  fill: #ecaa2d;
}
.cart .cart-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cart .cart-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.cart-info {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  height: 42px;
  float: right;
  border: 1px solid #efefef;
  background: #f7f7f7;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  position: relative;
  padding-top: 9px;
  padding-left: 20px;
}
.cart-info:hover .cart-size {
  background: #ecaa2d;
  color: #222;
}
.cart-info span {
  text-transform: uppercase;
}
.cart-info .cart-size {
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  font-weight: 400;
  background: #222;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* Menu nav
================================================================================*/
nav {
  width: 100%;
  height: 30px;
}
nav .left {
  width: -webkit-calc(100% - 360px);
  width: calc(100% - 360px);
}
.menu-sub,
.menu-sub2 {
  display: none;
}
.menu {
  zoom: 1;
}
.menu:before,
.menu:after {
  content: "";
  display: table;
}
.menu:after {
  clear: both;
}
.menu__item {
  float: left;
  position: relative;
  height: 30px;
}
.menu__item:hover .menu-sub {
  display: block;
}
.menu__title {
  position: relative;
  height: 30px;
  display: inline-block;
  padding: 0 56px 0 37px;
  color: #222;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__title.active {
  background: #a6a;
  color: #fff;
}
.menu__title.active span:after {
  background-position: 0 -5px;
}
.menu__title:hover {
  background: #a6a;
  color: #fff;
}
.menu__title:hover span:after {
  background-position: 0 -5px;
}
.menu__title span {
  position: relative;
}
.menu__title span:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 5px;
  background: url(../images/arrow-menu.png) no-repeat;
  top: 4px;
  right: -20px;
}
.menu-sub {
  background: #fff;
  position: absolute;
  min-width: 100%;
  top: 30px;
  padding: 10px 0;
  border: 1px solid #efefef;
}
.menu-sub__item {
  position: relative;
}
.menu-sub__item:hover .menu-sub2 {
  display: block;
}
.menu-sub2 {
  background: #fff;
  position: absolute;
  min-width: 100%;
  top: -11px;
  left: 100%;
  padding: 10px 0;
  border: 1px solid #efefef;
}
.menu__link {
  white-space: nowrap;
  display: block;
  padding-left: 37px;
  padding-right: 47px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #222;
  text-transform: uppercase;
}
.menu__link.active {
  color: #a6a;
}
.footer {
  padding-top: 42px;
}
.footer-wrap {
  zoom: 1;
}
.footer-wrap:before,
.footer-wrap:after {
  content: "";
  display: table;
}
.footer-wrap:after {
  clear: both;
}
.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* footer-menu
================================================================================*/
.footer-menu {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 95px;
}
.footer-menu__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.footer-menu__title_about::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  background: url(../images/svg/about.svg) no-repeat;
}
.footer-menu__title_services::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 13px;
  background: url(../images/svg/services.svg) no-repeat;
}
.footer-menu__title_partners::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 13px;
  background: url(../images/svg/partners.svg) no-repeat;
}
.footer-menu__title_buys::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/svg/buys.svg) no-repeat;
}
.footer-menu li {
  padding-left: 28px;
  position: relative;
}
.footer-menu a {
  font-weight: 400;
  color: #bfbfbf;
  letter-spacing: 0.1px;
  line-height: 2;
  font-size: 12px;
}
.footer-menu a:hover {
  color: #ecaa2d;
}
/* footer-down
================================================================================*/
.footer-down {
  font-weight: 400;
  color: #bfbfbf;
  letter-spacing: 0.1px;
  line-height: 1;
  font-size: 12px;
}
.devil__link {
  color: #bfbfbf;
  font-weight: 600;
}
.devil__link:hover {
  color: #ecaa2d;
}
/* carousel-index
================================================================================*/
.carousel-index {
  width: 100%;
  height: 400px;
}
.carousel__item {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.carousel__img {
  width: 100%;
  object-fit: cover;
}
.carousel__inner {
  top: 80px;
  right: 50px;
  width: 410px;
  position: absolute;
}
.carousel__inner .carousel__name {
  margin-bottom: 20px;
}
.carousel__inner .carousel__title {
  margin-bottom: 15px;
}
.carousel__name {
  color: #222;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.carousel__title {
  color: #222;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2.06px;
  line-height: 1;
  text-transform: uppercase;
}
.carousel__title span {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 600;
}
.carousel__description {
  color: #222;
  font-size: 12px;
  line-height: 2;
}
/* info-box
================================================================================*/
.info-box-wrap {
  width: 100%;
}
.info-box {
  padding-top: 26px;
  height: 60px;
  background: #eff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.info-box__item {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #333;
  text-transform: uppercase;
}
.info-box__item_car:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 11px;
  top: 0px;
  left: -25px;
  background: url(../images/svg/car.svg) no-repeat;
}
.info-box__item_rocket:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 14px;
  top: -2px;
  left: -25px;
  background: url(../images/svg/rocket.svg) no-repeat;
}
.info-box__item_gift:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  top: -2px;
  left: -25px;
  background: url(../images/svg/gift.svg) no-repeat;
}
/* card index
================================================================================*/
.card-index-layout {
  width: 100%;
  position: relative;
  padding-top: 25px;
}
.card-index__row_one {
  zoom: 1;
}
.card-index__row_one:before,
.card-index__row_one:after {
  content: "";
  display: table;
}
.card-index__row_one:after {
  clear: both;
}
.card-index__row_one .card-index:nth-child(4n) {
  margin-right: 0;
}
.card-index__row_two {
  zoom: 1;
}
.card-index__row_two:before,
.card-index__row_two:after {
  content: "";
  display: table;
}
.card-index__row_two:after {
  clear: both;
}
.card-index__row_two .card-index:nth-child(3n) {
  margin-right: 0;
}
.card-index {
  display: block;
  float: left;
  width: 24%;
  height: 345px;
  position: relative;
  margin-bottom: 25px;
  margin-right: 15px;
  text-align: center;
  overflow: hidden;
}
.card-index:hover {
  opacity: 0.8;
}
.card-index_big {
  width: 49.3%;
}
.card-index__title {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 27px;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  padding: 3px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1px;
  font-weight: 400;
}
.card-index__title_yellow {
  background: #ecaa2d;
}
.card-index__title_pink {
  background: #a6a;
}
.card-index__title_green {
  background: #83a25c;
}
.card-index__block {
  padding: 24px 0 22px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.card-index__block_black {
  background: #222;
}
.card-index__name {
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.card-index__category {
  color: #fff;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 0.12px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.card-index__category_font {
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 1;
  font-weight: 700;
}
.card-index__tip {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1;
  text-transform: uppercase;
}
.card-index__label {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 35px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.3px;
  line-height: 1.3;
}
.card-index__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/* brands-index
================================================================================*/
.brands-wrap {
  margin-bottom: 35px;
}
.brand__box {
  display: block;
  width: 175px;
  height: 175px;
  text-align: center;
}
.brand__box:hover {
  opacity: 0.2;
}
.brand__img {
  width: 100%;
  height: auto;
  display: block;
}
/* search -nav
================================================================================*/
.search-wrap {
  zoom: 1;
  width: 360px;
  height: 30px;
  background: #f7f7f7;
  overflow: hidden;
}
.search-wrap:before,
.search-wrap:after {
  content: "";
  display: table;
}
.search-wrap:after {
  clear: both;
}
.search {
  float: left;
  width: 300px;
  height: 30px;
  border: none;
  background: #f7f7f7;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 10px;
}
.search-btn-wrap {
  float: left;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 24px;
}
.search-btn-wrap:hover .search-ico path {
  fill: #ecaa2d;
}
.search-ico {
  position: absolute;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search-ico path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.search-btn {
  margin-left: 0px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}
/* @MEDIA */
