/* ========== Import ========== */
/*@import "fonts";*/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&subset=cyrillic';
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500&subset=cyrillic';
/* ========== Variable ========== */
/* ========== Basic styles ========== */
html {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}
body {
  width: 100%;
  min-width: 320px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 2;
  color: #222;
}
p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin-bottom: 20px;
  line-height: 1.5;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
svg:root {
  width: 100% !important;
  height: 100% !important;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
br {
  clear: both;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.hidden,
[hidden] {
  display: none !important;
}
.img-adp,
.iframe-adp {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.bg-layout {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: 10;
}
#wrapper {
  min-height: -webkit-calc(100vh - 310px);
  min-height: calc(100vh - 310px);
}
@media (min-width: 320px) and (max-width: 767px) {
  #wrapper {
    min-height: -webkit-calc(100vh - 160px);
    min-height: calc(100vh - 160px);
  }
}
.wrap-top {
  padding-top: 163px;
}
.footer {
  height: 310px;
  background: #333;
}
.content-wrap {
  overflow: hidden;
}
.content-top {
  zoom: 1;
}
.content-top:before,
.content-top:after {
  content: "";
  display: table;
}
.content-top:after {
  clear: both;
}
@media (min-width: 320px) {
  .content-top {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .content-top {
    padding-top: 10px;
    padding-bottom: 25px;
  }
}
@media (min-width: 992px) {
  .content-top {
    padding-top: 70px;
    padding-bottom: 25px;
  }
}
@media (min-width: 1230px) {
  .content-top {
    padding-top: 70px;
    padding-bottom: 25px;
  }
}
@media (min-width: 320px) {
  .content-bottom {
    height: 20px;
  }
}
@media (min-width: 768px) {
  .content-bottom {
    height: 40px;
  }
}
@media (min-width: 992px) {
  .content-bottom {
    height: 70px;
  }
}
@media (min-width: 1230px) {
  .content-bottom {
    height: 100px;
  }
}
.left {
  float: left;
}
.right {
  float: right;
}
a {
  -webkit-transition: color .3s;
  transition: color .3s;
}
a:hover {
  color: #ecaa2d;
}
/* h1 h2 h3 */
h1,
.h1 {
  color: #83a25c;
  font-size: 36px;
  letter-spacing: 0.3px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 35px;
}
@media (max-width: 320px) and (max-width: 767px) {
  h1,
  .h1 {
    font-size: 21px;
    margin-bottom: 20px;
  }
}
/* styly slick dots */
.carousel-index .slick-dots {
  position: absolute;
  left: 350px;
  top: 320px;
  width: 100%;
}
.slick-dots {
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots li.slick-active button {
  background: #a6a;
}
.slick-dots li button {
  border: none;
  background: #bfbfbf;
  width: 10px;
  height: 10px;
  font-size: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* btn
================================================================================*/
.btn {
  height: 43px;
  text-align: center;
  background: #a6a;
  border: none;
  margin: 20px 0;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: 0 40px;
  text-transform: uppercase;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.btn:hover {
  background: #ecaa2d;
}
.btn_black {
  background: transparent;
  border: 1px solid #fff;
}
.btn_pink {
  background: transparent;
  border: 1px solid #a6a;
}
.btn_pink:hover {
  background: #a6a;
}
.btn_pink:hover span {
  color: #fff;
}
.btn_pink:hover svg path {
  fill: #fff;
}
input.btn {
  line-height: 1;
  border: none !important;
}
a.btn {
  line-height: 43px;
  display: inline-block;
  color: #fff;
}
.btn + .btn {
  margin-top: 0;
}
/* input
================================================================================*/
label {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1;
  text-transform: uppercase;
}
input[type="text"] {
  width: 100%;
  height: 42px;
  background: transparent;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
input[type="text"].error {
  border: 1px solid red;
}
input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}
input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}
/* IMAGES
================================================================================*/
.image {
  width: 100%;
  height: 330px;
  margin-left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  object-fit: cover;
  margin-bottom: 30px;
}
/* txt-box - dl9 spiskov
================================================================================*/
.txt-box ul {
  margin-bottom: 20px;
}
.txt-box ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 2px;
}
.txt-box ul li:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 0;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #a6a;
}
/* Snoska - dl9 ramki
================================================================================*/
cite,
.cite {
  display: block;
  font-style: normal;
  margin-bottom: 20px;
  border: 1px solid #f1f1f1;
  padding: 15px 30px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  text-transform: uppercase;
}
cite span,
.cite span {
  font-size: 21px;
  font-weight: 600;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.18px;
  line-height: 1.3;
  color: #333;
  font-style: italic;
}
/* SELECT -style
================================================================================*/
.select-wrap_line .selectize-control {
  display: inline-block;
  margin-left: 10px;
}
.select-wrap_right {
  text-align: right;
}
.select-wrap_right .selectize-control {
  text-align: left;
}
.selectize-input {
  border: 1px solid #efefef;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0 0 0 25px;
  min-width: 218px;
  height: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #222;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-size: 12px;
}
.selectize-input input {
  color: #222;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1px;
  font-size: 12px;
  text-transform: uppercase;
}
.selectize-control.single .selectize-input {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  background-image: none;
  border-color: #efefef;
}
.selectize-control.single .selectize-input:after {
  border-color: #333 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #333 transparent;
}
.selectize-dropdown {
  border: 1px solid #efefef !important;
  background: #f7f7f7;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #222;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectize-dropdown .active {
  color: #222;
  background-color: #ecaa2d;
}
/* Include Style
================================================================================*/
/* header
================================================================================*/
.header {
  position: fixed;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.header-wrap {
  zoom: 1;
}
.header-wrap:before,
.header-wrap:after {
  content: "";
  display: table;
}
.header-wrap:after {
  clear: both;
}
/* header-top
================================================================================*/
.header-top {
  background: #222;
  height: 58px;
  padding-top: 18px;
}
.header-top .container {
  position: relative;
}
/* location */
.location li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.location li .city {
  margin-right: 68px;
}
.location li .tel {
  margin-right: 71px;
}
.city {
  position: relative;
  padding-left: 21px;
}
.city:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 11px;
  height: 16px;
  background: url(../images/svg/loc.svg) no-repeat;
  display: block;
}
.tel {
  position: relative;
  padding-left: 22px;
}
.tel:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 10px;
  height: 16px;
  display: block;
  background: url(../images/svg/tel.svg) no-repeat;
}
.link-opt {
  color: #fff;
}
/* menu-top */
.menu-top li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.menu-top li .liked {
  margin-right: 34px;
}
.m-burger {
  display: none;
}
.m-search {
  display: none;
  height: 16px;
}
.m-cart {
  display: none;
  height: 16px;
}
.liked {
  position: relative;
  color: #fff;
  padding-left: 27px;
  height: 16px;
  display: block;
}
.liked:hover .like-ico path {
  fill: #ecaa2d;
}
.liked .like-ico {
  position: absolute;
  left: 0;
  top: -2px;
  width: 16px;
  height: 14px;
}
.liked .like-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.lk {
  position: relative;
  padding-left: 27px;
  -webkit-transition: color .3s;
  transition: color .3s;
  cursor: pointer;
  height: 16px;
}
.lk:hover {
  color: #ecaa2d;
}
.lk:hover .lk-ico path {
  fill: #ecaa2d;
}
.lk .lk-ico {
  position: absolute;
  left: 0;
  top: -3px;
  width: 15px;
  height: 16px;
}
.lk .lk-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
/* header-main
================================================================================*/
.header-main {
  border-bottom: 2px solid #222;
  height: 75px;
}
.logo-wrap {
  float: left;
  padding-top: 18px;
  margin-right: 30px;
}
.logo-wrap span {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1px;
  font-weight: 400;
  color: #222;
  text-transform: uppercase;
  margin-left: 30px;
  width: -webkit-calc(100% - 190px);
  width: calc(100% - 190px);
  display: inline-block;
}
.logo {
  display: inline-block;
  width: 160px;
}
.banner-wrap {
  float: left;
  padding-top: 14px;
  overflow: hidden;
}
.banner {
  display: inline-block;
}
.cart-wrap {
  padding-top: 16px;
  width: 270px;
  float: right;
  zoom: 1;
  overflow: hidden;
}
.cart-wrap:before,
.cart-wrap:after {
  content: "";
  display: table;
}
.cart-wrap:after {
  clear: both;
}
.cart {
  width: 50px;
  float: left;
  display: block;
  height: 42px;
  border: 1px solid #efefef;
  -webkit-border-top-left-radius: 25px;
  border-top-left-radius: 25px;
  -webkit-border-bottom-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #f7f7f7;
  position: relative;
}
.cart:hover .cart-ico path {
  fill: #ecaa2d;
}
.cart .cart-ico {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cart .cart-ico path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}
.cart-info {
  width: -webkit-calc(100% - 50px);
  width: calc(100% - 50px);
  height: 42px;
  float: right;
  border: 1px solid #efefef;
  background: #f7f7f7;
  -webkit-border-top-right-radius: 25px;
  border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  position: relative;
  padding-top: 9px;
  padding-left: 20px;
}
.cart-info:hover .cart-size {
  background: #ecaa2d;
  color: #222;
}
.cart-info span {
  text-transform: uppercase;
}
.cart-info .cart-size {
  height: 18px;
  line-height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  padding: 0 12px;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  font-weight: 400;
  background: #222;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
/* Menu nav
================================================================================*/
nav {
  width: 100%;
  height: 30px;
}
nav .container {
  position: relative;
}
nav .left {
  width: -webkit-calc(100% - 360px);
  width: calc(100% - 360px);
}
.menu-sub,
.menu-sub2 {
  display: none;
}
.menu {
  zoom: 1;
}
.menu:before,
.menu:after {
  content: "";
  display: table;
}
.menu:after {
  clear: both;
}
.menu__item {
  float: left;
  position: relative;
  height: 30px;
}
.menu__item:hover .menu-sub {
  display: block;
}
.menu__title {
  position: relative;
  height: 30px;
  display: inline-block;
  padding: 0 56px 0 37px;
  color: #222;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 30px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__title.active {
  background: #a6a;
  color: #fff;
}
.menu__title.active span:after {
  background-position: 0 -5px;
}
.menu__title:hover {
  background: #a6a;
  color: #fff;
}
.menu__title:hover span:after {
  background-position: 0 -5px;
}
.menu__title span {
  position: relative;
}
.menu__title span:after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 5px;
  background: url(../images/arrow-menu.png) no-repeat;
  top: 4px;
  right: -20px;
}
.menu-sub {
  background: #fff;
  position: absolute;
  min-width: 100%;
  top: 30px;
  padding: 10px 0;
  border: 1px solid #efefef;
}
.menu-sub__item {
  position: relative;
}
.menu-sub__item:hover .menu-sub2 {
  display: block;
}
.menu-sub2 {
  background: #fff;
  position: absolute;
  min-width: 100%;
  top: -11px;
  left: 100%;
  padding: 10px 0;
  border: 1px solid #efefef;
}
.menu__link {
  white-space: nowrap;
  display: block;
  padding-left: 37px;
  padding-right: 47px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #222;
  text-transform: uppercase;
}
.menu__link.active {
  color: #a6a;
}
.m-menu {
  color: #fff;
  display: none;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  line-height: 1;
  margin-bottom: 30px;
}
.m-loc {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 60px;
  border-top: 1px solid #fff;
  width: 86%;
  padding-top: 20px;
}
.m-loc .location {
  display: block;
}
.m-loc .location li {
  margin-bottom: 20px;
}
/* popup-menu
================================================================================*/
.popup-menu-wrap .container {
  position: relative;
}
.popup-menu-wrap h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 1;
  padding-bottom: 14px;
  margin-bottom: 28px;
  border-bottom: 1px solid #fff;
}
/* close popup*/
.btn-close-popup {
  padding: 3px;
  position: absolute;
  top: -4px;
  right: 5px;
  cursor: pointer;
}
.btn-close-popup:hover .btn-close-popup-ico path {
  fill: #ecaa2d;
}
.btn-close-popup .btn-close-popup-ico {
  width: 15px;
  height: 15px;
}
.btn-close-popup .btn-close-popup-ico path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
/* login */
.popup-login {
  display: none;
  overflow: hidden;
  padding: 16px 25px 30px 25px;
  position: absolute;
  z-index: 20;
  width: 430px;
  height: 100vh;
  background: #222;
  top: -105px;
  right: 0;
}
.popup-login input {
  border: 1px solid #fff;
}
.popup-login .btn {
  width: 100%;
}
.form-login-reset {
  display: none;
}
.login-reset {
  border-bottom: 1px solid #fff;
  position: absolute;
  width: 88.5%;
  bottom: 100px;
  left: 25px;
}
.login-reset span {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin-bottom: 15px;
}
.login-reset span:hover {
  color: #ecaa2d;
}
/* cart */
.popup-cart {
  display: none;
  overflow: hidden;
  padding: 16px 25px 30px 25px;
  position: absolute;
  z-index: 19;
  width: 430px;
  height: 100vh;
  background: #222;
  top: -105px;
  right: 0;
}
.popup-cart input {
  border: 1px solid #fff;
}
.popup-cart .btn {
  width: 100%;
}
.in-cart__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.in-cart__item:last-child {
  border: none;
}
.in-cart__inner {
  padding-right: 10px;
  position: relative;
}
.in-cart__inner_big {
  -webkit-flex-basis: 240px;
  -ms-flex-preferred-size: 240px;
  flex-basis: 240px;
}
.in-cart__img {
  width: 80px;
  height: 100px;
  object-fit: contain;
}
.in-cart__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
.in-cart__col {
  color: #a6a6a6;
  font-size: 12px;
  font-weight: 400;
  line-height: 2.5;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
.in-cart__price {
  white-space: nowrap;
  margin-right: -10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}
/* btn-del*/
.btn-del {
  padding: 3px;
  text-align: right;
  margin-right: -13px;
  cursor: pointer;
}
.btn-del:hover .btn-del-ico path {
  fill: #ecaa2d;
}
.btn-del .btn-del-ico {
  width: 10px;
  height: 10px;
}
.btn-del .btn-del-ico path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
/* itog */
.in-cart-sum {
  background: #222;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-size: 12px;
  line-height: 1;
  width: 100%;
  position: absolute;
  left: 25px;
  width: 88.5%;
  bottom: 70px;
}
.in-cart-sum__inner {
  zoom: 1;
  padding-top: 20px;
  border-top: 1px solid #fff;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
}
.in-cart-sum__inner:before,
.in-cart-sum__inner:after {
  content: "";
  display: table;
}
.in-cart-sum__inner:after {
  clear: both;
}
.footer {
  padding-top: 42px;
}
.footer-wrap {
  zoom: 1;
}
.footer-wrap:before,
.footer-wrap:after {
  content: "";
  display: table;
}
.footer-wrap:after {
  clear: both;
}
.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* footer-menu
================================================================================*/
.footer-menu {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 95px;
}
.footer-menu__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.12px;
  line-height: 1.2;
  margin-bottom: 10px;
}
.footer-menu__title_about::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 15px;
  background: url(../images/svg/about.svg) no-repeat;
}
.footer-menu__title_services::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 13px;
  background: url(../images/svg/services.svg) no-repeat;
}
.footer-menu__title_partners::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 13px;
  background: url(../images/svg/partners.svg) no-repeat;
}
.footer-menu__title_buys::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/svg/buys.svg) no-repeat;
}
.footer-menu li {
  padding-left: 28px;
  position: relative;
}
.footer-menu a {
  font-weight: 400;
  color: #bfbfbf;
  letter-spacing: 0.1px;
  line-height: 2;
  font-size: 12px;
}
.footer-menu a:hover {
  color: #ecaa2d;
}
/* footer-down
================================================================================*/
.footer-down {
  font-weight: 400;
  color: #bfbfbf;
  letter-spacing: 0.1px;
  line-height: 1;
  font-size: 12px;
}
.devil__link {
  color: #bfbfbf;
  font-weight: 600;
}
.devil__link:hover {
  color: #ecaa2d;
}
/* carousel-index
================================================================================*/
.carousel-index {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.carousel__item {
  position: relative;
  overflow: hidden;
  height: 400px;
}
.carousel__img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.carousel__inner {
  top: 80px;
  right: 50px;
  width: 410px;
  position: absolute;
}
.carousel__inner .carousel__name {
  margin-bottom: 20px;
}
.carousel__inner .carousel__title {
  margin-bottom: 15px;
}
.carousel__name {
  color: #222;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.carousel__title {
  color: #222;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2.06px;
  line-height: 1;
  text-transform: uppercase;
}
.carousel__title span {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 600;
}
.carousel__description {
  color: #222;
  font-size: 12px;
  line-height: 2;
}
/* info-box
================================================================================*/
.info-box-wrap {
  width: 100%;
}
.info-box {
  padding-top: 26px;
  height: 60px;
  background: #eff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.info-box__item {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.1px;
  color: #333;
  padding-left: 25px;
  text-transform: uppercase;
}
.info-box__item_car:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 11px;
  top: 0px;
  left: 0px;
  background: url(../images/svg/car.svg) no-repeat;
}
.info-box__item_rocket:before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 14px;
  top: -2px;
  left: 0px;
  background: url(../images/svg/rocket.svg) no-repeat;
}
.info-box__item_gift:before {
  content: '';
  position: absolute;
  display: block;
  width: 14px;
  height: 12px;
  top: -2px;
  left: 0px;
  background: url(../images/svg/gift.svg) no-repeat;
}
/* card index
================================================================================*/
.card-index-layout {
  width: 100%;
  position: relative;
  padding-top: 25px;
}
.card-index__row_one {
  zoom: 1;
}
.card-index__row_one:before,
.card-index__row_one:after {
  content: "";
  display: table;
}
.card-index__row_one:after {
  clear: both;
}
.card-index__row_one .card-index:nth-child(4n) {
  margin-right: 0;
}
.card-index__row_two {
  zoom: 1;
}
.card-index__row_two:before,
.card-index__row_two:after {
  content: "";
  display: table;
}
.card-index__row_two:after {
  clear: both;
}
.card-index__row_two .card-index:nth-child(3n) {
  margin-right: 0;
}
.card-index {
  display: block;
  float: left;
  width: 24%;
  height: 345px;
  position: relative;
  margin-bottom: 25px;
  margin-right: 15px;
  text-align: center;
  overflow: hidden;
}
.card-index:hover {
  opacity: 0.8;
}
.card-index_big {
  width: 49.3%;
}
.card-index__title {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 27px;
  white-space: nowrap;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
  padding: 3px 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.1px;
  font-weight: 400;
}
.card-index__title_yellow {
  background: #ecaa2d;
}
.card-index__title_pink {
  background: #a6a;
}
.card-index__title_green {
  background: #83a25c;
}
.card-index__block {
  padding: 24px 0 22px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  text-align: center;
}
.card-index__block_black {
  background: #222;
}
.card-index__name {
  color: #fff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.card-index__category {
  color: #fff;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  letter-spacing: 0.12px;
  line-height: 1.3;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.card-index__category_font {
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 1;
  font-weight: 700;
}
.card-index__tip {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1;
  text-transform: uppercase;
}
.card-index__label {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  top: 35px;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.3px;
  line-height: 1.3;
}
.card-index__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
/* brands-index
================================================================================*/
.brands-wrap {
  margin-bottom: 35px;
}
.brand__box {
  display: block;
  width: 175px;
  height: 175px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.brand__box:hover {
  opacity: 0.2;
}
.brand__img {
  width: 100%;
  height: auto;
  display: block;
}
/* search -nav
================================================================================*/
.search-wrap {
  zoom: 1;
  width: 360px;
  height: 30px;
  background: #f7f7f7;
}
.search-wrap:before,
.search-wrap:after {
  content: "";
  display: table;
}
.search-wrap:after {
  clear: both;
}
.search {
  float: left;
  width: 300px !important;
  height: 30px !important;
  border: none;
  background: #f7f7f7;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 10px;
  margin: 0 !important;
}
.search-btn-wrap {
  float: left;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 24px;
}
.search-btn-wrap:hover .search-ico path {
  fill: #ecaa2d;
}
.search-ico {
  position: absolute;
  width: 17px;
  height: 16px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.search-ico path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.search-btn {
  margin-left: 0px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  position: relative;
  z-index: 1;
}
.tab {
  text-align: center;
}
.tab span {
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 5px;
  cursor: auto;
}
.tab__item {
  display: inline-block;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tab__item:hover {
  color: #ecaa2d;
}
.tab__item.active {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.18px;
}
.tab__content {
  display: none;
}
.tab__content.active {
  display: block;
}
.popup-login .tab {
  border-bottom: 1px solid #f7f7f7;
  padding-bottom: 14px;
  margin-bottom: 28px;
}
/* bread-crumbs
================================================================================*/
.bread-crumbs__item {
  display: inline-block;
  vertical-align: middle;
}
.bread-crumbs__link {
  color: #222;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1;
  text-transform: uppercase;
  margin-right: 38px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}
.bread-crumbs__link:hover {
  color: #ecaa2d;
}
.bread-crumbs__link:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 8px;
  background: url(../images/svg/arrow-bread.svg) no-repeat;
  right: -24px;
  top: 2px;
}
.bread-crumbs__link_last {
  font-weight: 400;
}
.bread-crumbs__link_last:hover {
  color: #222;
}
.bread-crumbs__link_last::after {
  content: none;
}
/* Contacts
================================================================================*/
.contact {
  text-transform: uppercase;
}
.contact__title {
  font-size: 12px;
  letter-spacing: 0.1;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 24px;
  color: #333;
}
.contact__list {
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.1;
  margin-bottom: 34px;
}
.contact__txt {
  color: #333;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact__btn {
    text-align: center;
  }
}
/* MAP */
#map {
  width: 100%;
  height: 330px;
  margin-bottom: 30px;
}
/* 404
================================================================================*/
.error-404 {
  width: 1000px;
  height: 582px;
  background: url(../images/404.png) no-repeat;
  position: relative;
}
@media (max-width: 991px) {
  .error-404 {
    width: 700px;
    background-size: 114%;
  }
}
@media (max-width: 767px) {
  .error-404 {
    width: 320px;
    background-position: 0 80px;
    height: 400px;
  }
}
@media (max-width: 481px) {
  .error-404 {
    width: 480px;
    height: 450px;
  }
}
.error-404__404 {
  position: absolute;
  font-size: 72px;
  color: #222;
  font-style: italic;
  font-weight: 900;
  line-height: 1;
  font-family: 'Playfair Display', serif;
  top: 0;
  right: 170px;
}
@media (max-width: 991px) {
  .error-404__404 {
    right: 60px;
  }
}
@media (max-width: 767px) {
  .error-404__404 {
    right: 20px;
  }
}
.error-404__inner {
  position: absolute;
  width: 425px;
  bottom: 0;
  left: 130px;
}
@media (max-width: 991px) {
  .error-404__inner {
    left: 70px;
  }
}
@media (max-width: 767px) {
  .error-404__inner {
    width: 250px;
    left: 30px;
  }
}
@media (max-width: 481px) {
  .error-404__inner {
    left: 70px;
  }
}
.error-404__txt {
  font-family: 'Playfair Display', serif;
  color: #222;
  font-size: 36px;
  line-height: 1.3;
  font-style: italic;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .error-404__txt {
    font-size: 21px;
  }
}
/* sub-category
================================================================================*/
.sub-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .sub-category {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sub-category__item {
  position: relative;
  width: 24%;
  height: 220px;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 767px) {
  .sub-category__item {
    width: 100%;
    height: 110px;
  }
}
@media (min-width: 320px) {
  .sub-category__item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .sub-category__item {
    width: 31.9%;
  }
  .sub-category__item:nth-child(3n) {
    margin-right: 0;
  }
  .sub-category__item:nth-child(4n) {
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  .sub-category__item {
    width: 23.7%;
  }
  .sub-category__item:nth-child(3n) {
    margin-right: 15px;
  }
  .sub-category__item:nth-child(4n) {
    margin-right: 0px;
  }
}
@media (min-width: 1230px) {
  .sub-category__item {
    width: 24%;
  }
}
.sub-category__item:hover {
  opacity: 0.8;
}
.sub-category__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 5;
  left: 0;
  right: 0;
}
.sub-category__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.4);
}
.sub-category__img {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.sub-category__title {
  text-align: center;
  position: absolute;
  z-index: 4;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 0.18px;
  line-height: 1.7;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* catalog
================================================================================*/
.catalog {
  zoom: 1;
  overflow: hidden;
}
.catalog:before,
.catalog:after {
  content: "";
  display: table;
}
.catalog:after {
  clear: both;
}
.catalog__left {
  width: 270px;
  float: left;
}
.catalog__right {
  float: right;
  width: -webkit-calc(100% - 288px);
  width: calc(100% - 288px);
}
/* menu-catalog */
.menu-catalog {
  zoom: 1;
  margin-bottom: 35px;
}
.menu-catalog:before,
.menu-catalog:after {
  content: "";
  display: table;
}
.menu-catalog:after {
  clear: both;
}
.menu-catalog h1 {
  font-size: 21px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.2px;
  margin-bottom: 25px;
}
.menu-catalog__resul {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1px;
  line-height: 1;
  font-weight: 400;
}
.menu-catalog__resul span {
  font-weight: 600;
}
/* product
=================================================================================*/
.product-list {
  zoom: 1;
  position: relative;
  overflow: hidden;
}
.product-list:before,
.product-list:after {
  content: "";
  display: table;
}
.product-list:after {
  clear: both;
}
.product {
  width: 32.1%;
  height: 340px;
  position: relative;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
.product:nth-child(3n) {
  margin-right: 0;
}
.product__link {
  width: 100%;
  height: 100%;
  display: block;
}
.product__link:hover {
  opacity: 0.8;
}
.product__img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.product__box {
  width: 100%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 13px 20px;
  padding-bottom: 60px;
  border: 1px solid #efefef;
}
.product__inner {
  zoom: 1;
  overflow: hidden;
}
.product__inner:before,
.product__inner:after {
  content: "";
  display: table;
}
.product__inner:after {
  clear: both;
}
.product__inner .left {
  width: -webkit-calc(100% - 70px);
  width: calc(100% - 70px);
}
.product__inner .right {
  width: 70px;
  text-align: right;
}
.product__name {
  color: #222;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  text-transform: uppercase;
}
.product__price {
  color: #333;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1.5;
  text-transform: uppercase;
}
.product__btn-wrap {
  zoom: 1;
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  padding: 0px 20px 10px;
}
.product__btn-wrap:before,
.product__btn-wrap:after {
  content: "";
  display: table;
}
.product__btn-wrap:after {
  clear: both;
}
.product__liked {
  display: inline-block;
  vertical-align: sub;
  margin-right: 14px;
  margin-left: 14px;
}
.product__liked:hover svg path {
  fill: #ecaa2d;
}
.product__liked svg {
  position: relative;
  top: 2px;
}
.product__liked svg path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.product__addcurt {
  margin: 0;
  padding: 0 14px;
  display: inline-block;
  vertical-align: middle;
  line-height: 36px !important;
  height: 36px;
  position: relative;
}
.product__addcurt .cart-add-ico {
  position: absolute;
  left: 12px;
  top: 11px;
}
.product__addcurt span {
  color: #222;
  padding-left: 20px;
}
/* pagination
================================================================================*/
.pagination {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}
.pag {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
.pag a {
  text-align: center;
  color: #222;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}
.pag a:hover {
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #a6a;
}
.pag a.active {
  color: #fff;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #a6a;
}
.pag-left a {
  color: #222;
  font-size: 30px;
  font-weight: 300;
  line-height: 20px;
}
.pag-right a {
  color: #222;
  font-size: 30px;
  font-weight: 300;
  line-height: 20px;
}
/* review
================================================================================*/
.review {
  width: 100%;
  border: 1px solid #efefef;
  margin-top: 70px;
}
.review__title {
  color: #333;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1;
  padding: 18px 23px;
  border-bottom: 1px solid #efefef;
}
.review__item {
  zoom: 1;
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 22.75%;
  height: 160px;
  margin: 10px;
  margin-bottom: 0;
}
.review__item:before,
.review__item:after {
  content: "";
  display: table;
}
.review__item:after {
  clear: both;
}
.review__item:hover {
  opacity: 0.8;
}
.review__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.review__inner {
  float: left;
  width: -webkit-calc(100% - 118px);
  width: calc(100% - 118px);
  height: 100%;
}
.review__inner_right {
  width: 108px;
  margin-left: 10px;
  position: relative;
}
.review__img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.review__name {
  text-transform: uppercase;
  color: #222;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.review__price {
  text-transform: uppercase;
  color: #222;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 1;
}
.review__liked {
  display: block;
  position: absolute;
  width: 100%;
  height: 24px;
  left: 0;
  bottom: 20px;
  z-index: 2;
}
.review__liked a:hover .like-ico path {
  fill: #ecaa2d;
}
/*news*/
/* NEWS -pade
================================================================================*/
.news-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.news {
  width: 32.4%;
  margin-right: 15px;
  margin-bottom: 26px;
  position: relative;
}
.news:nth-child(3n) {
  margin-right: 0;
}
.news__img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.news__head {
  zoom: 1;
  padding-top: 15px;
}
.news__head:before,
.news__head:after {
  content: "";
  display: table;
}
.news__head:after {
  clear: both;
}
.news__date {
  display: inline-block;
  color: #959595;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1;
  padding-left: 18px;
  position: relative;
  margin-right: 6px;
}
.news__date:before {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background: url(../images/svg/time.svg) no-repeat;
  top: 0;
  left: 0;
}
.news__title {
  display: inline;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 1.3;
  text-transform: uppercase;
}
.news__txt {
  padding-top: 5px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
}
/* news select
================================================================================*/
/* btn-in-catalog*/
.btn-in-catalog {
  text-align: center;
}
.btn-in-catalog__text {
  text-transform: uppercase;
  margin-bottom: -10px;
}
.btn-in-catalog .btn {
  padding: 0 70px;
}
/* @MEDIA */
/*                           320-991 index
================================================================================*/
@media screen and (min-width: 320px) and (max-width: 991px) {
  /*header-top*/
  .location {
    display: none;
  }
  .menu-top li {
    height: 16px;
    overflow: hidden;
    margin-left: 25px;
  }
  .menu-top li span {
    display: none;
  }
  .m-burger {
    display: block;
  }
  .m-search {
    display: block;
  }
  .m-cart {
    display: block;
  }
  .menu-top li .liked {
    margin-right: 0;
  }
  .liked {
    padding-left: 16px;
  }
  .liked .like-ico {
    top: 0;
  }
  .lk {
    padding-left: 16px;
  }
  .lk .lk-ico {
    top: 0;
  }
  /*header-main*/
  .logo-wrap {
    width: 360px;
    margin-right: 0;
  }
  .cart-wrap {
    display: none;
  }
  .search-wrap {
    position: absolute;
    top: 0px;
    right: 0;
    border: 1px solid #efefef;
    width: 300px;
    display: none;
  }
  .search {
    width: 262px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  .popup-login {
    top: -75px;
  }
  /*nav*/
  nav {
    height: auto;
  }
  .menu-wrap {
    display: none;
    position: absolute;
    width: 320px;
    height: 100vh;
    overflow: hidden;
    background: #222;
    left: 0;
    top: -75px;
  }
  .menu__item {
    float: none;
    margin: 10px 0;
  }
  .menu__title {
    color: #fff;
    font-weight: 400;
    padding-left: 20px;
  }
  .m-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .m-loc {
    display: block;
  }
  /*info-box*/
  .info-box {
    display: none;
  }
}
/*end 320 - 991*/
/*                           320-767 index
================================================================================*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* header */
  .header-top {
    height: 37px;
    padding-top: 10px;
  }
  .logo-wrap {
    width: 320px;
    margin-right: 0;
  }
  .logo-wrap span {
    margin-left: 15px;
  }
  .logo {
    width: 135px;
  }
  .logo img {
    width: 100%;
  }
  .popup-login {
    width: 320px;
  }
  .login-reset {
    bottom: 65px;
  }
  .wrap-top {
    padding-top: 112px;
  }
  /* carousel */
  .carousel-index {
    width: 320px;
    margin: 0 auto;
    height: 200px;
  }
  .carousel__img {
    height: 200px;
  }
  .carousel__inner {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 5px 10px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
  }
  .carousel__description {
    line-height: 1.7;
  }
  .carousel__title {
    display: none;
  }
  .carousel-index .slick-dots {
    left: auto;
    top: 170px;
  }
  /*bunner*/
  .banner-wrap {
    display: none;
  }
  /*card-index*/
  .card-index__row_one,
  .card-index__row_two {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-index__row_one .card-index:nth-child(2n+1) {
    margin-right: 10px;
  }
  .card-index__row_two .card-index_big {
    width: 100%;
  }
  .card-index__row_two .card-index:nth-child(2) {
    margin-right: 10px;
  }
  .card-index {
    width: -webkit-calc(51.7% - 10px);
    width: calc(51.7% - 10px);
    margin-right: 0;
    height: 169px;
  }
  .card-index__title {
    top: 17px;
    white-space: normal;
    line-height: 1.3;
  }
  .card-index__name {
    line-height: 1.3;
    margin-bottom: 0;
  }
  .card-index__category {
    display: none;
  }
  .card-index__category_font {
    display: block;
    line-height: 1.3;
  }
  .card-index__label {
    font-size: 30px;
  }
  .card-index__tip {
    display: none;
  }
  .card-index__block {
    padding: 10px;
  }
  /* brands */
  .brands-wrap {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  /* footer */
  .footer {
    height: 125px;
  }
  .footer-flex {
    display: none;
  }
  .footer-wrap {
    text-align: center;
  }
  .footer-wrap .left {
    float: none;
    margin-bottom: 20px;
  }
  .footer-wrap .right {
    float: none;
  }
  /* CONTENT */
  .content-top > * {
    display: none;
  }
  /* Image */
  .image {
    height: 100px;
  }
}
/* 320-767*/
/*                           480-768
================================================================================*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .carousel-index {
    width: 440px;
    margin: 0 auto;
    height: 200px;
  }
}
/*                           768-991 index
================================================================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*corousel index*/
  .carousel-index {
    height: 300px;
  }
  .carousel__img {
    height: 300px;
    object-fit: cover;
  }
  .carousel__inner {
    top: 45px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
  }
  .carousel-index .slick-dots {
    top: 270px;
    left: auto;
  }
  /*card-index*/
  .card-index {
    margin-right: 9px;
    height: 224px;
    margin-bottom: 15px;
  }
  .card-index__title {
    top: 13px;
    padding: 3px 15px;
  }
  .card-index__name {
    font-size: 12px;
  }
}
/*                           992-1230 index
================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1230px) {
  /*header-top*/
  .location li .city {
    margin-right: 28px;
  }
  .location li .tel {
    margin-right: 31px;
  }
  /*header-main*/
  .logo-wrap {
    width: 320px;
    margin-right: 0;
  }
  .logo-wrap span {
    margin-left: 15px;
  }
  .cart-wrap {
    width: 240px;
  }
  /*nav*/
  .menu-wrap {
    width: 640px;
    display: block !important;
  }
  /*search*/
  .search-wrap {
    width: 290px;
  }
  .search {
    width: 260px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  /*carousel-index*/
  .carousel-index {
    height: 350px;
  }
  .carousel-index .slick-dots {
    left: 220px;
    top: 300px;
  }
  /*info-box*/
  .info-box__item {
    font-size: 11px;
  }
  /*cart-index*/
  .card-index {
    height: 285px;
    margin-right: 12px;
  }
}
/* end 920-1230*/
@media (min-width: 1231px) {
  /*nav*/
  .menu-wrap {
    width: 640px;
    display: block !important;
  }
}
/* media page news
================================================================================*/
@media (min-width: 320px) and (max-width: 767px) {
  .news {
    width: 100%;
    margin-right: 0;
  }
  .news__img {
    height: 160px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .news {
    width: 48.5%;
    margin-right: 20px;
  }
  .news:nth-child(2n) {
    margin-right: 0px;
  }
  .news:nth-child(3n) {
    margin-right: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1229px) {
  .news {
    width: 32.2%;
  }
}
/* media page news-select
================================================================================*/
