/* carousel-index
================================================================================*/
.carousel-index {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.carousel {
    &__link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &__item {
      position: relative;
      overflow: hidden;
      height: 400px;
    }
    &__img {
      height: 400px;
      width: 100%;
      object-fit: cover;;
    }
    &__inner {
      top: 80px;
      right: 50px;
      width: 410px;
      position: absolute;
        .carousel__name {
          margin-bottom: 20px;
        }
        .carousel__title {
          margin-bottom: 15px;
        }
    }
    &__name {
      color: #222;
      font-family: @font-playfair;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
    &__title {
      color: #222;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 2.06px;
      line-height: 1;
      text-transform: uppercase;
      span {
        font-family: @font-playfair;
        font-style: italic;
        font-weight: 600;
      }
    }
    &__description {
      color: #222;
      font-size: 12px;
      line-height: 2;
    }
}
