/* Filter
================================================================================*/
.filter {
  width: 100%;
  border: 1px solid #efefef;
  margin-bottom: 25px;
  &__title {
    border-bottom: 1px solid #efefef;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px;
  }
  &__box {
    padding: 20px;
  }

  .SumoSelect {
    width: 100% !important;
  }
}
