/* page History
================================================================================*/
.history {
  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f1f1f1;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 0.1px;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
    align-items: center;
    position: relative;
    transition: border 0.3s;
    span {
      font-weight: 500;
    }
    &:hover {
      border: 1px solid @color-hover;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      text-align: left;
      align-items: flex-start;

    }
  }
  &__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
  }
  &__number {
    flex-basis: 51px;
    @media (max-width: 767px) {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }
  &__date {
    flex-basis: 63px;
    @media (max-width: 767px) {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }
  &__product-num {
    flex-basis: 140px;
    @media (max-width: 767px) {
      flex-basis: auto;
      margin-bottom: 10px;
    }
  }
  &__address {
    text-transform: none;
    flex-basis: 230px;
    text-align: center;
    @media (max-width: 767px) {
      flex-basis: auto;
      margin-bottom: 10px;
      text-align: left;
    }
  }
  &__status {
    text-transform: none;
    font-weight: 600;
    flex-basis: 65px;
    text-align: center;
    @media (max-width: 767px) {
      flex-basis: auto;
      margin-bottom: 10px;
      position: absolute;
      top: 11px;
      right: 11px;
    }
  }
}
