/* ORDER
================================================================================*/
.order {
  .cart-box {
    width: 840px;
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  &__result-price {
    margin: 28px 0 48px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 0.18px;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__payment {
    margin-top: 18px;
  }
  .btn {
    @media (max-width: 767px) {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
}
