/* popup form
================================================================================*/
#form-call {
  .cf;
  overflow: hidden;
  padding: 25px;
  h1 {
    font-size: 21px;
  }
  .left {
    width: 40%;
  }
  .right {
    width: 56%;
  }
  label {
    color: #222;
  }
  input:not(.btn) {
    background-color: #f6f6f6;
    color: #222;
  }
  textarea {
    background-color: #f6f6f6;
    height: 127px;
  }
  .btn {
    margin-top: 23px;
    height: 42px;
    line-height: 42px;
  }
}

/* fancy style*/

.form-fancy {
  .fancybox-close {
    top: 18px;
    right: 18px;
    background: url(../images/close-pink.png) no-repeat;
    width: 18px;
    height: 18px;
  }
}
