
/*                           320-991 index
================================================================================*/
@media screen and (min-width: 320px) and (max-width: 991px) {
  /*header-top*/
  .location {
    display: none;
  }
  .menu-top li {
    height: 16px;
    overflow: hidden;
    margin-left: 25px;
  }
  .menu-top li span{
    display: none;
  }
  .m-burger {
    display: block;
  }
  .m-search {
    display: block;
  }
  .m-cart {
    display: block;
  }
  .menu-top li .liked {
    margin-right: 0;
  }
  .liked {
    padding-left: 16px;
  }
  .liked .like-ico {
    top: 0;
  }
  .lk {
    padding-left: 16px;
  }
  .lk .lk-ico {
    top: 0;
  }
  /*header-main*/
  .logo-wrap {
    width: 360px;
    margin-right: 0;
  }
  .cart-wrap {
    display: none;
  }
  .search-wrap {
    position: absolute;
    top: 0px;
    right: 0;
    border: 1px solid #efefef;
    width: 300px;
    display: none;
  }
  .search {
    width: 262px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  .popup-login {
    top: -75px;
  }
  /*nav*/
  nav {
    height: auto;
  }
  .menu-wrap {
    display: none;
    position: absolute;
    width: 320px;
    height: 100vh;
    overflow: hidden;
    background: #222;
    left: 0;
    top: -75px;
  }
  .menu__item {
    float: none;
    margin: 10px 0;
  }
  .menu__title {
    color: #fff;
    font-weight: 400;
    padding-left: 20px;
  }
  .m-menu {
    display: flex;
  }
  .m-loc {
    display: block;
  }

  /*info-box*/
  .info-box {
    display: none;
  }
} /*end 320 - 991*/

/*                           320-767 index
================================================================================*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  /* header */
  .header-top {
    height: 37px;
    padding-top: 10px;
  }
  .logo-wrap {
    width: 320px;
    margin-right: 0;
  }
  .logo-wrap span {
    margin-left: 15px;
  }
  .logo {
    width: 135px;
    img {
      width: 100%;
    }
  }
  .popup-login {
    width: 320px;
  }
  .login-reset {
    bottom: 65px;
  }
  .wrap-top {
    padding-top: 112px;
  }
  /* carousel */
  .carousel-index {
    width: 320px;
    margin: 0 auto;
    height: 200px;
  }
  .carousel__img {
    height: 200px;
  }
  .carousel__inner {
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px 5px 10px;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
  }
  .carousel__description {
    line-height: 1.7;
  }
  .carousel__title {
    display: none;
  }
  .carousel-index .slick-dots {
    left: auto;
    top: 170px;
  }
  /*bunner*/
  .banner-wrap {
    display: none;
  }
  /*card-index*/
  .card-index__row_one,
  .card-index__row_two {
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }
  .card-index__row_one {
    .card-index {
      &:nth-child(2n+1){
        margin-right: 10px;
      }
    }
  }
  .card-index__row_two {
    .card-index_big {
      width: 100%;
    }
    .card-index {
      &:nth-child(2){
        margin-right: 10px;
      }
    }
  }
  .card-index {
    width: calc(~ "51.7% - 10px");
    margin-right: 0;
    height: 169px;
  }
  .card-index__title {
    top: 17px;
    white-space: normal;
    line-height: 1.3;
  }
  .card-index__name {
    line-height: 1.3;
    margin-bottom: 0;
  }
  .card-index__category {
    display: none;
  }
  .card-index__category_font {
    display: block;
    line-height: 1.3;
  }
  .card-index__label {
    font-size: 30px;
  }
  .card-index__tip {
    display: none;
  }
  .card-index__block {
    padding: 10px;
  }
  /* brands */
  .brands-wrap {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  /* footer */
  .footer {
    height: 125px;
  }
  .footer-flex {
    display: none;
  }
  .footer-wrap {
    text-align: center;
    .left {
      float: none;
      margin-bottom: 20px;
    }
    .right {
      float: none;
    }
  }


}/* 320-767*/
/*                           480-768
================================================================================*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .carousel-index {
    width: 440px;
    margin: 0 auto;
    height: 200px;
  }
}
/*                           768-991 index
================================================================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*corousel index*/
  .carousel-index {
    height: 300px;
  }
  .carousel__img {
    height: 300px;
    object-fit: cover;
  }
  .carousel__inner {
    top: 45px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
  }
  .carousel-index .slick-dots {
    top: 270px;
    left: auto;
  }
  /*card-index*/
  .card-index {
    margin-right: 9px;
    height: 224px;
    margin-bottom: 15px;
  }
  .card-index__title {
    top: 13px;
    padding: 3px 15px;
  }
  .card-index__name {
    font-size: 12px;
  }
}

/*                           992-1230 index
================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1230px) {
  /*header-top*/
  .location li .city {
      margin-right: 28px;
  }
  .location li .tel {
    margin-right: 31px;
  }
  /*header-main*/
  .logo-wrap {
    width: 320px;
    margin-right: 0;
  }
  .logo-wrap span {
    margin-left: 15px;
  }
  .cart-wrap {
    width: 240px;
  }
  /*nav*/
  .menu-wrap {
    width: 640px;
    display: block !important;
  }
  /*search*/
  .search-wrap {
    width: 290px;
  }
  .search {
    width: 260px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  /*carousel-index*/
  .carousel-index {
    height: 350px;
  }
  .carousel-index .slick-dots {
    left: 220px;
    top: 300px;
  }
  /*info-box*/
  .info-box__item {
    font-size: 11px;
  }
  /*cart-index*/
  .card-index {
    height: 285px;
    margin-right: 12px;
  }
} /* end 920-1230*/

@media (min-width: 1231px) {
  /*nav*/
  .menu-wrap {
    width: 640px;
    display: block !important;
  }
}
