/*                           768-991 index
================================================================================*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*header-top*/
  .location {
    display: none;
  }
  .menu-top li {
    height: 16px;
    overflow: hidden;
    margin-left: 25px;
  }
  .menu-top li span{
    display: none;
  }
  .m-burger {
    display: block;
  }
  .m-search {
    display: block;
  }
  .m-cart {
    display: block;
  }
  .menu-top li .liked {
    margin-right: 0;
  }
  .liked {
    padding-left: 16px;
  }
  .liked .like-ico {
    top: 0;
  }
  .lk {
    padding-left: 16px;
  }
  .lk .lk-ico {
    top: 0;
  }
  /*header-main*/
  .logo-wrap {
    width: 360px;
    margin-right: 0;
  }
  .cart-wrap {
    display: none;
  }
  .search-wrap {
    position: absolute;
    top: 0px;
    right: 0;
    border: 1px solid #efefef;
    width: 300px;
    display: none;
  }
  .search {
    width: 262px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  /*nav*/
  nav {
    height: auto;
  }
  .menu-wrap {
    display: none;
    position: absolute;
    width: 320px;
    height: 100vh;
    overflow: hidden;
    background: #222;
    left: 0;
    top: -75px;
  }
  .menu__item {
    float: none;
    margin: 10px 0;
  }
  .menu__title {
    color: #fff;
    font-weight: 400;
    padding-left: 20px;
  }
  .m-menu {
    display: flex;
  }
  .m-loc {
    display: block;
  }
  /*corousel index*/
  .carousel-index {
    height: 300px;
  }
  .carousel__img {
    height: 300px;
    object-fit: cover;
  }
  .carousel__inner {
    top: 45px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
  }
  .carousel-index .slick-dots {
    top: 270px;
    left: auto;
  }
  /*info-box*/
  .info-box {
    display: none;
  }
  /*card-index*/
  .card-index {
    margin-right: 9px;
    height: 224px;
    margin-bottom: 15px;
  }
  .card-index__title {
    top: 13px;
    padding: 3px 15px;
  }
  .card-index__name {
    font-size: 12px;
  }
}

/*                           992-1230 index
================================================================================*/
@media screen and (min-width: 992px) and (max-width: 1230px) {
  /*header-top*/
  .location li .city {
      margin-right: 28px;
  }
  .location li .tel {
    margin-right: 31px;
  }
  /*header-main*/
  .logo-wrap {
    width: 320px;
    margin-right: 0;
  }
  .logo-wrap span {
    margin-left: 15px;
  }
  .cart-wrap {
    width: 240px;
  }
  /*nav*/
  .menu-wrap {
    width: 640px;
  }
  /*search*/
  .search-wrap {
    width: 290px;
  }
  .search {
    width: 260px !important;
  }
  .search-btn-wrap {
    margin-left: 0;
  }
  /*carousel-index*/
  .carousel-index {
    height: 350px;
  }
  .carousel-index .slick-dots {
    left: 220px;
    top: 300px;
  }
  /*info-box*/
  .info-box__item {
    font-size: 11px;
  }
  /*cart-index*/
  .card-index {
    height: 285px;
    margin-right: 12px;
  }
} /* end 920-1230*/
