@import "base";

#wrapper {
	min-height: calc(~ "100vh - 310px" );
}
.wrap-top {
	padding-top: 163px;
}
.footer {
	height: 310px;
	background: #333;
}

.left {
	float: left;
}
.right {
	float:right;
}
a {
	transition: color .3s;
	&:hover {
		color: @color-hover;
	}
}

/* styly slick dots */
.carousel-index {
	.slick-dots {
		position: absolute;
		left: 350px;
		top: 320px;
		width: 100%;
	}
}
.slick-dots {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 5px;
		&.slick-active {
			button {
				background: #a6a;
			}
		}
		button {
			border: none;
			background: #bfbfbf;
			width: 10px;
			height: 10px;
			font-size: 0;
			border-radius: 100%;
		}
	}
}
/* input
================================================================================*/
input[type="text"] {
	&:focus::-webkit-input-placeholder {color: transparent}
	&:focus::-moz-placeholder          {color: transparent}
	&:focus:-moz-placeholder           {color: transparent}
	&:focus:-ms-input-placeholder      {color: transparent}
}


/* Include Style
================================================================================*/

@import "_header";
@import "_nav";
@import "_footer";
@import "_carousel";
@import "_info-box";
@import "_card-index";
@import "_brands-index";
@import "_search";

/* @MEDIA */
@import "media";
