extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Contacts
block content
	.wrap-top
		.container.content-wrap
			.row
				.content-top
				.error-404
					.error-404__404 404
					.error-404__inner 
						.error-404__txt К&nbsp;сожелению, на&nbsp;нашем сайте нет такой страницы
						a.btn(href="#") Перейти к каталогу	
				.content-bottom						

block hidden
