extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title About
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.about.txt-box
				img.image(src="/images/about.png")
				h1 О нас
				p Торговая компания &laquo;Линия стиля&raquo; осуществляет оптовые продажи колготок , белья и&nbsp;трикотажа в&nbsp;Новосибирске. Мы&nbsp;успешно работаем на&nbsp;рынке итальянских чулочно-носочных изделий и&nbsp;нижнего белья с&nbsp;1999&nbsp;года.
				p Наш оптовый склад расположен в&nbsp;центре города Новосибирск рядом со&nbsp;ст.метро &laquo;Октябрьская&raquo; и&nbsp;предлагает колготки оптом, фантазийные колготки оптом, чулки оптом, носки оптом, гольфы оптом следующих торговых марок Conte , ОMSA , SISI , FILODORO , PHILIPPE MATIGNON, GLAMOUR , GOLDEN LADY , POMPEA, LEVANTE , FRANZONI , OPIUM , MALEMI , MINIMI , INTIMIDEA , KARMEN , MONA , GABRIELA , GATTA , MARILYN , INTRIGO , BAS BLEU, ART-G.
				
				cite.cite <span class="cite__big-text">18 лет</span> Стабильной работы и доверие партнеров, минимальные цены, колготки и нижнее белье оптом.
				
				ul
					li Бесплатная доставка товара по новосибирску или до транспортной компании при заказе от 10 000 руб.
					li Бесплатная доставка товара по новосибирску или до транспортной компании при заказе от 10 000 руб.
					li Бесплатная доставка товара по новосибирску или до транспортной компании при заказе от 10 000 руб.
					li Бесплатная доставка товара по новосибирску или до транспортной 
					li Бесплатная доставка товара по новосибирску или до транспортной 
				
				p Кроме того наша компания занимается оптовой продажей нижнего белья для женщин и&nbsp;мужчин , купальников , домашней одежды и&nbsp;пижам. Всегда в&nbsp;ассортименте нижнее бельё оптом , корректирующее бельё оптом таких фирм как SIELEI , LORMAR , GISELA , PAPILLON , PRIMA VISTA, MITEX , MIOOCCHI , ELORIA , JULIMEX , LEILIEVE. Поясное хлопковое женское бельё оптом INCANTO , ARTU JADEA , MINIMI, OPIUM и&nbsp;мужское бельё оптом PRIMAL и&nbsp;GRIFF. К&nbsp;весеннему сезону широчайший выбор итальянских купальников оптом AMAREA.А также всегда рады предложить эротическое бельё оптом OPIUM , OBSESSIVE, носочки и&nbsp;тапочки оптом торговой марки HOBBY LINE.
			.content-bottom						

block hidden
