extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Card
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.card-wrap
				.card__right
					.card__inner
						h1 LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕТНИЕ
						.info-product
							p Комфортные матовые колготки из плотной микрофибры
							p <span class="bold">Состав:</span> 90% ХЛОПОК, 10% ПОЛИАМИД, 10% ЭЛАСТАН
							.m-product-img
								img(src="/images/product-1.png")
						form
							.card-setting
								.card-setting__left
									.card-setting-top
										select.select.select(placeholder="Размер: 4")
											option
											option(value="1") Размер: 6
											option(value="2") Размер: 12
											option(value="3") Размер: 18
											option(value="4") Размер: 24
										a.tbl-size.popup-img(href="/images/size.jpg") Таблица размеров

									select.select(placeholder="Плотность: 20 ден")
										option
										option(value="1") Плотность: 20 ден
										option(value="2") Плотность: 22 ден
										option(value="3") Плотность: 23 ден
										option(value="4") Плотность: 24 ден
									.card-color
										.card-color__title Цвет:
										ul.product-color
											li.product-color__item
												label.color
													input(type="radio", name="color", checked)
													span.color-el.color-1(title="Цвет")
											li.product-color__item
												label.color
													input(type="radio", name="color")
													span.color-el.color-2(title="Цвет")
											li.product-color__item
												label.color
													input(type="radio", name="color")
													span.color-el.color-3(title="Цвет")
											li.product-color__item
												label.color
													input(type="radio", name="color")
													span.color-el.color-4(title="Цвет")
											li.product-color__item
												label.color
													input(type="radio", name="color")
													span.color-el.color-5(title="Цвет")

								.card-setting__right
									.card-col Количество:
										.btn-calc
											.btn-calc__left
												span 1
												input(type="text", value="1", name="")
											.btn-calc__right
												.btn-calc__plus
												.btn-calc__minus
									.card-price
										.card-price__num 750 руб.
										.card-price__num-one 1 шт - 750 руб.
									.card-btn
										input.btn(type="submit", value="Добавить в карзину")
										a.product__liked(href="#")
											| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
						.card-description
							.card-description__title Описание:
							.card-description__text
								p Матовые полупрозрачные колготки плонтностью 40 ден со штанишками 140 ден с моделирующим эффектом, с широким поясом, плоскими швами и х/б ластовицей, укрепленный мысок, формированные. 140 ден с моделирующим эффектом, с широким поясом, плоскими швами.
				.card__left
					.card-img
						a.popup(href="/images/product-1.png")
							img.card-img__big(src="/images/product-1.png", alt="")
						ul.card-img-carousel
							li.card-img-carousel__item
								img(src="/images/product-2.png", alt="")
							li.card-img-carousel__item
								img(src="/images/product-3.png", alt="")
					.info-delivery
						.info-delivery__title Инфомация о доставке:
						.info-delivery__text
							p 1. Почтой России — БЕСПЛАТНО.
							p 2. Курьером СДЕК по России с возможностью оплаты при получении 2-5 рабочих дней.


			.review
				.review__title Вы недавно смотрели
				ul.review-list
					li.review__item
						a.review__link(href="#")
						.review__inner
							img.review__img(src="/images/product-1.png")
						.review__inner.review__inner_right
							.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
							.review__price <span>300</span> руб.
							.review__liked
								a(href="#")
									| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
					li.review__item
						a.review__link(href="#")
						.review__inner
							img.review__img(src="/images/product-3.png")
						.review__inner.review__inner_right
							.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
							.review__price <span>300</span> руб.
							.review__liked
								a(href="#")
									| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
					li.review__item
						a.review__link(href="#")
						.review__inner
							img.review__img(src="/images/product-2.png")
						.review__inner.review__inner_right
							.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
							.review__price <span>300</span> руб.
							.review__liked
								a(href="#")
									| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
					li.review__item
						a.review__link(href="#")
						.review__inner
							img.review__img(src="/images/product-1.png")
						.review__inner.review__inner_right
							.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ dasd dasdas dasd asda sdasd asd asdasdasd
							.review__price <span>300</span> руб.
							.review__liked
								a(href="#")
									| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
			.content-bottom

block hidden
