extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Contacts
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.contact
				#map
				h1 Контакты
				.contact__title Наш адрес в г. Новосибирске:
				ul.contact__list
					li ул.Шевченко, 31а
					li тел.: +7 (383) 362-06-24
					li E-mail: 120070@mail.ru
				.contact__txt Для обращения воспользуйтесь телефоном или расположенной ниже формой. <br /> Будем рады новым партнерам и клиентам.
				.contact__btn
					a.btn.popup-form(href="#form-call") Оставить сообщение		
			.content-bottom						

block hidden

	#form-call
		form
			h1 Оставте нам сообщение:
			.left
				label Имя
					input(type="text", name="name", placeholder="Введите имя")
				label Номер телефона
					input(type="text", name="phone", placeholder="+7 (___) ___-__-__")
				label E-mail
					input(type="email", name="email", placeholder="example@mail.ru")
			.right
				label Сообщение
					textarea(placeholder="Введите ваше сообщение")
				input.btn(type="submit", value="отправить")
