extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title История заказов
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.cabinet
				.cabinet__left
					.cabinet-menu-wrap 
						.m-cabinet-menu История заказов
						ul.cabinet-menu
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Личный кабинет
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Корзина
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Избранное
							li.cabinet-menu__item
								a.cabinet-menu__link.active(href="#") История заказов
				.cabinet__right					
					.cabinet-box.history-wrap
						h1 История заказов
						ul.history
							li.history__item
								a.history__link(href="#", title="0001")
								.history__number <span>№</span> 0001
								.history__date <span>27.09.2016</span>
								.history__product-num Кол-во Позиций: <span>55</span>
								.history__address г.Красноярск, ул. Кирова 64, офис 101
								.history__status <span>Завершен</span>
							li.history__item
								a.history__link(href="#", title="0002")
								.history__number <span>№</span> 0001
								.history__date <span>27.09.2016</span>
								.history__product-num Кол-во Позиций: <span>55</span>
								.history__address г.Красноярск, ул. КироваКироваКирова 164, офис 101
								.history__status <span>Оплачен</span>
							li.history__item
								a.history__link(href="#", title="0003")
								.history__number <span>№</span> 00012
								.history__date <span>27.09.2016</span>
								.history__product-num Кол-во Позиций: <span>1556</span>
								.history__address г.КрасноярскКрасноярск, ул. КироваКироваКирова 164, офис 101
								.history__status <span>Отправлен</span>
						
			.content-bottom

block hidden
