extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Избранное
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.cabinet
				.cabinet__left
					.cabinet-menu-wrap 
						.m-cabinet-menu Избранное
						ul.cabinet-menu
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Личный кабинет
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Корзина
							li.cabinet-menu__item
								a.cabinet-menu__link.active(href="#") Избранное
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") История заказов
				.cabinet__right					
					.cabinet-box.liked-wrap
						h1 Избранное
						ul.review-list
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-1.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									a.btn.btn_pink.product__more(href="#")
										| <svg class="more-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 17 11"><path d="M1018.17 634.12C1018.56 634.77 1018.75 635.48 1018.75 636.25C1018.75 637.42 1018.33 638.42 1017.5 639.25C1016.67 640.08 1015.67 640.5 1014.5 640.5C1013.33 640.5 1012.33 640.08 1011.5 639.25C1010.67 638.42 1010.25 637.42 1010.25 636.25C1010.25 635.48 1010.44 634.77 1010.83 634.12C1009.38 634.86 1008.1800000000001 635.97 1007.21 637.46C1008.0600000000001 638.76 1009.11 639.7900000000001 1010.38 640.5600000000001C1011.65 641.33 1013.02 641.71 1014.5 641.71C1015.98 641.71 1017.35 641.33 1018.62 640.5600000000001C1019.89 639.7900000000001 1020.94 638.7600000000001 1021.79 637.46C1020.8199999999999 635.97 1019.62 634.86 1018.17 634.12ZM1014.82 633.5C1014.73 633.41 1014.63 633.37 1014.5 633.37C1013.71 633.37 1013.03 633.65 1012.47 634.22C1011.9 634.78 1011.62 635.46 1011.62 636.25C1011.62 636.38 1011.66 636.48 1011.75 636.57C1011.84 636.6600000000001 1011.94 636.71 1012.07 636.71C1012.2 636.71 1012.3100000000001 636.6600000000001 1012.3900000000001 636.57C1012.4800000000001 636.48 1012.5300000000001 636.38 1012.5300000000001 636.25C1012.5300000000001 635.71 1012.7200000000001 635.24 1013.1100000000001 634.86C1013.4900000000001 634.47 1013.9600000000002 634.28 1014.5000000000001 634.28C1014.6300000000001 634.28 1014.7300000000001 634.23 1014.8200000000002 634.14C1014.9100000000002 634.06 1014.9600000000002 633.9499999999999 1014.9600000000002 633.8199999999999C1014.9600000000002 633.6899999999999 1014.9100000000002 633.5899999999999 1014.8200000000002 633.4999999999999ZM1022.81 638.12C1021.92 639.57 1020.7299999999999 640.74 1019.2399999999999 641.61C1017.7399999999999 642.49 1016.1599999999999 642.9300000000001 1014.4999999999999 642.9300000000001C1012.8399999999999 642.9300000000001 1011.2599999999999 642.49 1009.7599999999999 641.61C1008.2699999999999 640.73 1007.0799999999999 639.57 1006.1899999999998 638.12C1006.0599999999998 637.9 1005.9999999999998 637.68 1005.9999999999998 637.46C1005.9999999999998 637.25 1006.0599999999997 637.0300000000001 1006.1899999999998 636.8100000000001C1007.0799999999998 635.36 1008.2699999999999 634.2 1009.7599999999999 633.32C1011.2599999999999 632.44 1012.8399999999999 632 1014.4999999999999 632C1016.1599999999999 632 1017.7399999999999 632.44 1019.2399999999999 633.32C1020.7299999999999 634.2 1021.9199999999998 635.36 1022.81 636.8100000000001C1022.9399999999999 637.0300000000001 1023 637.2500000000001 1023 637.46C1023 637.6800000000001 1022.94 637.9000000000001 1022.81 638.12Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1006,-632)"></path></svg>
										span Подробнее

							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-3.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									a.btn.btn_pink.product__more(href="#")
										| <svg class="more-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 17 11"><path d="M1018.17 634.12C1018.56 634.77 1018.75 635.48 1018.75 636.25C1018.75 637.42 1018.33 638.42 1017.5 639.25C1016.67 640.08 1015.67 640.5 1014.5 640.5C1013.33 640.5 1012.33 640.08 1011.5 639.25C1010.67 638.42 1010.25 637.42 1010.25 636.25C1010.25 635.48 1010.44 634.77 1010.83 634.12C1009.38 634.86 1008.1800000000001 635.97 1007.21 637.46C1008.0600000000001 638.76 1009.11 639.7900000000001 1010.38 640.5600000000001C1011.65 641.33 1013.02 641.71 1014.5 641.71C1015.98 641.71 1017.35 641.33 1018.62 640.5600000000001C1019.89 639.7900000000001 1020.94 638.7600000000001 1021.79 637.46C1020.8199999999999 635.97 1019.62 634.86 1018.17 634.12ZM1014.82 633.5C1014.73 633.41 1014.63 633.37 1014.5 633.37C1013.71 633.37 1013.03 633.65 1012.47 634.22C1011.9 634.78 1011.62 635.46 1011.62 636.25C1011.62 636.38 1011.66 636.48 1011.75 636.57C1011.84 636.6600000000001 1011.94 636.71 1012.07 636.71C1012.2 636.71 1012.3100000000001 636.6600000000001 1012.3900000000001 636.57C1012.4800000000001 636.48 1012.5300000000001 636.38 1012.5300000000001 636.25C1012.5300000000001 635.71 1012.7200000000001 635.24 1013.1100000000001 634.86C1013.4900000000001 634.47 1013.9600000000002 634.28 1014.5000000000001 634.28C1014.6300000000001 634.28 1014.7300000000001 634.23 1014.8200000000002 634.14C1014.9100000000002 634.06 1014.9600000000002 633.9499999999999 1014.9600000000002 633.8199999999999C1014.9600000000002 633.6899999999999 1014.9100000000002 633.5899999999999 1014.8200000000002 633.4999999999999ZM1022.81 638.12C1021.92 639.57 1020.7299999999999 640.74 1019.2399999999999 641.61C1017.7399999999999 642.49 1016.1599999999999 642.9300000000001 1014.4999999999999 642.9300000000001C1012.8399999999999 642.9300000000001 1011.2599999999999 642.49 1009.7599999999999 641.61C1008.2699999999999 640.73 1007.0799999999999 639.57 1006.1899999999998 638.12C1006.0599999999998 637.9 1005.9999999999998 637.68 1005.9999999999998 637.46C1005.9999999999998 637.25 1006.0599999999997 637.0300000000001 1006.1899999999998 636.8100000000001C1007.0799999999998 635.36 1008.2699999999999 634.2 1009.7599999999999 633.32C1011.2599999999999 632.44 1012.8399999999999 632 1014.4999999999999 632C1016.1599999999999 632 1017.7399999999999 632.44 1019.2399999999999 633.32C1020.7299999999999 634.2 1021.9199999999998 635.36 1022.81 636.8100000000001C1022.9399999999999 637.0300000000001 1023 637.2500000000001 1023 637.46C1023 637.6800000000001 1022.94 637.9000000000001 1022.81 638.12Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1006,-632)"></path></svg>
										span Подробнее
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-2.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									a.btn.btn_pink.product__more(href="#")
										| <svg class="more-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 17 11"><path d="M1018.17 634.12C1018.56 634.77 1018.75 635.48 1018.75 636.25C1018.75 637.42 1018.33 638.42 1017.5 639.25C1016.67 640.08 1015.67 640.5 1014.5 640.5C1013.33 640.5 1012.33 640.08 1011.5 639.25C1010.67 638.42 1010.25 637.42 1010.25 636.25C1010.25 635.48 1010.44 634.77 1010.83 634.12C1009.38 634.86 1008.1800000000001 635.97 1007.21 637.46C1008.0600000000001 638.76 1009.11 639.7900000000001 1010.38 640.5600000000001C1011.65 641.33 1013.02 641.71 1014.5 641.71C1015.98 641.71 1017.35 641.33 1018.62 640.5600000000001C1019.89 639.7900000000001 1020.94 638.7600000000001 1021.79 637.46C1020.8199999999999 635.97 1019.62 634.86 1018.17 634.12ZM1014.82 633.5C1014.73 633.41 1014.63 633.37 1014.5 633.37C1013.71 633.37 1013.03 633.65 1012.47 634.22C1011.9 634.78 1011.62 635.46 1011.62 636.25C1011.62 636.38 1011.66 636.48 1011.75 636.57C1011.84 636.6600000000001 1011.94 636.71 1012.07 636.71C1012.2 636.71 1012.3100000000001 636.6600000000001 1012.3900000000001 636.57C1012.4800000000001 636.48 1012.5300000000001 636.38 1012.5300000000001 636.25C1012.5300000000001 635.71 1012.7200000000001 635.24 1013.1100000000001 634.86C1013.4900000000001 634.47 1013.9600000000002 634.28 1014.5000000000001 634.28C1014.6300000000001 634.28 1014.7300000000001 634.23 1014.8200000000002 634.14C1014.9100000000002 634.06 1014.9600000000002 633.9499999999999 1014.9600000000002 633.8199999999999C1014.9600000000002 633.6899999999999 1014.9100000000002 633.5899999999999 1014.8200000000002 633.4999999999999ZM1022.81 638.12C1021.92 639.57 1020.7299999999999 640.74 1019.2399999999999 641.61C1017.7399999999999 642.49 1016.1599999999999 642.9300000000001 1014.4999999999999 642.9300000000001C1012.8399999999999 642.9300000000001 1011.2599999999999 642.49 1009.7599999999999 641.61C1008.2699999999999 640.73 1007.0799999999999 639.57 1006.1899999999998 638.12C1006.0599999999998 637.9 1005.9999999999998 637.68 1005.9999999999998 637.46C1005.9999999999998 637.25 1006.0599999999997 637.0300000000001 1006.1899999999998 636.8100000000001C1007.0799999999998 635.36 1008.2699999999999 634.2 1009.7599999999999 633.32C1011.2599999999999 632.44 1012.8399999999999 632 1014.4999999999999 632C1016.1599999999999 632 1017.7399999999999 632.44 1019.2399999999999 633.32C1020.7299999999999 634.2 1021.9199999999998 635.36 1022.81 636.8100000000001C1022.9399999999999 637.0300000000001 1023 637.2500000000001 1023 637.46C1023 637.6800000000001 1022.94 637.9000000000001 1022.81 638.12Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1006,-632)"></path></svg>
										span Подробнее
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-1.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ dasd dasdas dasd asda sdasd asd asdasdasd
									.review__price <span>300</span> руб.
									a.btn.btn_pink.product__more(href="#")
										| <svg class="more-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0 17 11"><path d="M1018.17 634.12C1018.56 634.77 1018.75 635.48 1018.75 636.25C1018.75 637.42 1018.33 638.42 1017.5 639.25C1016.67 640.08 1015.67 640.5 1014.5 640.5C1013.33 640.5 1012.33 640.08 1011.5 639.25C1010.67 638.42 1010.25 637.42 1010.25 636.25C1010.25 635.48 1010.44 634.77 1010.83 634.12C1009.38 634.86 1008.1800000000001 635.97 1007.21 637.46C1008.0600000000001 638.76 1009.11 639.7900000000001 1010.38 640.5600000000001C1011.65 641.33 1013.02 641.71 1014.5 641.71C1015.98 641.71 1017.35 641.33 1018.62 640.5600000000001C1019.89 639.7900000000001 1020.94 638.7600000000001 1021.79 637.46C1020.8199999999999 635.97 1019.62 634.86 1018.17 634.12ZM1014.82 633.5C1014.73 633.41 1014.63 633.37 1014.5 633.37C1013.71 633.37 1013.03 633.65 1012.47 634.22C1011.9 634.78 1011.62 635.46 1011.62 636.25C1011.62 636.38 1011.66 636.48 1011.75 636.57C1011.84 636.6600000000001 1011.94 636.71 1012.07 636.71C1012.2 636.71 1012.3100000000001 636.6600000000001 1012.3900000000001 636.57C1012.4800000000001 636.48 1012.5300000000001 636.38 1012.5300000000001 636.25C1012.5300000000001 635.71 1012.7200000000001 635.24 1013.1100000000001 634.86C1013.4900000000001 634.47 1013.9600000000002 634.28 1014.5000000000001 634.28C1014.6300000000001 634.28 1014.7300000000001 634.23 1014.8200000000002 634.14C1014.9100000000002 634.06 1014.9600000000002 633.9499999999999 1014.9600000000002 633.8199999999999C1014.9600000000002 633.6899999999999 1014.9100000000002 633.5899999999999 1014.8200000000002 633.4999999999999ZM1022.81 638.12C1021.92 639.57 1020.7299999999999 640.74 1019.2399999999999 641.61C1017.7399999999999 642.49 1016.1599999999999 642.9300000000001 1014.4999999999999 642.9300000000001C1012.8399999999999 642.9300000000001 1011.2599999999999 642.49 1009.7599999999999 641.61C1008.2699999999999 640.73 1007.0799999999999 639.57 1006.1899999999998 638.12C1006.0599999999998 637.9 1005.9999999999998 637.68 1005.9999999999998 637.46C1005.9999999999998 637.25 1006.0599999999997 637.0300000000001 1006.1899999999998 636.8100000000001C1007.0799999999998 635.36 1008.2699999999999 634.2 1009.7599999999999 633.32C1011.2599999999999 632.44 1012.8399999999999 632 1014.4999999999999 632C1016.1599999999999 632 1017.7399999999999 632.44 1019.2399999999999 633.32C1020.7299999999999 634.2 1021.9199999999998 635.36 1022.81 636.8100000000001C1022.9399999999999 637.0300000000001 1023 637.2500000000001 1023 637.46C1023 637.6800000000001 1022.94 637.9000000000001 1022.81 638.12Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1006,-632)"></path></svg>
										span Подробнее
					ul.pagination
						li.pag.pag-left
							a(href="#") &lsaquo;
						li.pag
							a.active(href="#") 1
						li.pag
							a(href="#") 2
						li.pag
							a(href="#") 3
						li.pag
							a(href="#") 4
						li.pag
							a(href="#") 5
						li.pag.pag-right
							a(href="#") &rsaquo;	
			.content-bottom

block hidden
