extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Избранное
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.cabinet
				.cabinet__left
					.cabinet-menu-wrap 
						.m-cabinet-menu Личный кабинет
						ul.cabinet-menu
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Личный кабинет
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") Корзина
							li.cabinet-menu__item
								a.cabinet-menu__link.active(href="#") Избранное
							li.cabinet-menu__item
								a.cabinet-menu__link(href="#") История заказов
				.cabinet__right
					h1 Избранное
					.cabinet-box
						ul.review-list
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-1.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									.review__liked
										a(href="#")
											| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-3.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									.review__liked
										a(href="#")
											| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-2.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ
									.review__price <span>300</span> руб.
									.review__liked
										a(href="#")
											| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
							li.review__item
								a.review__link(href="#")
								.review__inner
									img.review__img(src="/images/product-1.png")
								.review__inner.review__inner_right
									.review__name LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕГКИЕ dasd dasdas dasd asda sdasd asd asdasdasd
									.review__price <span>300</span> руб.
									.review__liked
										a(href="#")
											| <svg class="like-ico" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="16" height="14"><defs id="SvgjsDefs1018"></defs><path id="SvgjsPath1019" d="M258.4 26.9C258.29999999999995 26.9 258.09999999999997 27 258 27C257.9 27 257.7 26.9 257.6 26.8L252.00000000000003 21.3C252.00000000000003 21.3 250.00000000000003 19.5 250.00000000000003 17.3C250.00000000000003 14.600000000000001 251.60000000000002 13 254.30000000000004 13C255.90000000000003 13 257.30000000000007 14.3 258.00000000000006 15C258.70000000000005 14.3 260.20000000000005 13 261.70000000000005 13C264.40000000000003 13 266.00000000000006 14.6 266.00000000000006 17.3C266.00000000000006 19.5 264.00000000000006 21.3 264.00000000000006 21.4ZM258.4 16.2C258.2 16.5 257.7 16.5 257.5 16.2C257 15.6 255.5 14.2 254.2 14.2C252.79999999999998 14.2 251.1 14.7 251.1 17.3C251.1 19 252.79999999999998 20.5 252.79999999999998 20.5L258 25.6L263.2 20.5C263.2 20.5 264.9 18.9 264.9 17.3C264.9 14.700000000000001 263.2 14.200000000000001 261.7 14.200000000000001C260.4 14.200000000000001 258.9 15.700000000000001 258.4 16.200000000000003Z " fill="#222" fill-opacity="1" transform="matrix(1,0,0,1,-250,-13)"></path></svg>
					ul.pagination
						li.pag.pag-left
							a(href="#") &lsaquo;
						li.pag
							a.active(href="#") 1
						li.pag
							a(href="#") 2
						li.pag
							a(href="#") 3
						li.pag
							a(href="#") 4
						li.pag
							a(href="#") 5
						li.pag.pag-right
							a(href="#") &rsaquo;	
			.content-bottom

block hidden
