extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Новости
block content
	.wrap-top
		.container.content-wrap
			.content-top
				.left
					+bread
				.right
					//- TODO: select
					span [TODO: Селект]
			h1 Новости
			ul.news-wrap
				li.news
					img.news__img(src="/images/news/news-1.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
				li.news
					img.news__img(src="/images/news/news-2.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи
				li.news
					img.news__img(src="/images/news/news-3.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
				li.news
					img.news__img(src="/images/news/news-1.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
			.content-bottom
						

block hidden
