extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Новости
block content
	.wrap-top
		.container.content-wrap
			.content-top
				.left
					+bread
				.right
				.select-wrap.select-wrap_right
					select.select(placeholder="Сортировать новости")
						option
						option(value="1") Новости за неделю
						option(value="2") Новости за месяц
						option(value="3") Новости за год
						option(value="4") Все новости
			h1 Новости
			ul.news-wrap
				li.news
					img.news__img(src="/images/news/news-1.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
				li.news
					img.news__img(src="/images/news/news-2.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи
				li.news
					img.news__img(src="/images/news/news-3.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
				li.news
					img.news__img(src="/images/news/news-1.png")
					.news__head
						.news__date 09.09.2016
						.news__title Поступление новой коллекции брендов
					.news__txt
						| Соблазнительный и элегантный — таким будет праздник вместе с Obsessive. Очередные новинки в коллекции это прежде всего романтические вещи.
			.content-bottom
						

block hidden
