extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Новости - select
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			h1 Поступление новой коллекции брендов golden lady и levante
			.news-s
				img.news-s__img(src="/images/news-s.png")
				p Представляем Вашему вниманию колготки торговых марок ART-G и&nbsp;GIULIETTA &laquo;Новомосковской трикотажной фабрики&raquo;. Торговые марки охватывают весь ассортимент женских чулочно-носочных изделий, от&nbsp;весенне-осенних с&nbsp;учетом климатических требований зимнего ассортимента шерсти, хлопка, микрофибры. Это пожалуй лучшее предложение по&nbsp;соотношению цена-качество в&nbsp;регионе.В коллекции ART-G предлагается детская серия колготок по&nbsp;очень привлекательным ценам. В&nbsp;разделах КАТАЛОГА и&nbsp;ПРАЙСА Вы&nbsp;можете ознакомиться со&nbsp;всеми моделями колготок и&nbsp;ценами.
				p Соблазнительный и&nbsp;элегантный&nbsp;&mdash; таким будет праздник вместе с&nbsp;Obsessive.Очередные новинки в&nbsp;коллекции это прежде всего романтические и&nbsp;соблазнительные сорочки.Элегантность и&nbsp;стиль доставят Вам чувство раскошного отдыха на&nbsp;высшем уровне. Новая коллекция идеальна для женщин, которые ценят роскошь и&nbsp;классику, а&nbsp;также немного безумия.
				.btn-in-catalog
					.btn-in-catalog__text Посмотреть все новинки:
					a.btn(href="#") К каталогу
			.content-bottom						

block hidden
