extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Оформление заказа
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			.cabinet-box.order
				h1 оформление заказа
				form
					.cart-box 
						.cart-top-box
							span Вы добавили:
							span.gray Скидка 20% на заказ, стоимость более 10 000 руб.
						ul.cart-list.cart-list_title
							li.cart-item.cart-item_product Товар 
							li.cart-item.cart-item_title Описание
							li.cart-item.cart-item_price-one Стоимость (1 шт.) 
							li.cart-item.cart-item_calc Кол-во 
							li.cart-item.cart-item_price Общая стоимость 
							li.cart-item.cart-item_sale.pink  Скидка
							li.cart-item.cart-item_del
						ul.cart-list
							li.cart-item.cart-item_product
								a(href="#")
									img(src="/images/product-1.png")
							li.cart-item.cart-item_title LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕТНИЕ
							li.cart-item.cart-item_price-one  250 руб.
							li.cart-item.cart-item_calc 
								.btn-calc
									.btn-calc__left
										span 1
										input(type="text", value="1", name="")
									.btn-calc__right
										.btn-calc__plus
										.btn-calc__minus
							li.cart-item.cart-item_price
								div.cart-price.cart-price_old 500 руб.
								div.cart-price.cart-price_new 100 руб.
							li.cart-item.cart-item_sale.pink 20%
							li.cart-item.cart-item_del
								| <svg class="del-ico-black" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="10" height="9" viewBox="0 0 10 9"><title>CLOSE</title><desc>Created with Avocode.</desc><defs id="SvgjsDefs1001"></defs><path id="SvgjsPath1007" d="M1140.94 439.76L1139.89 440.78999999999996C1139.75 440.92999999999995 1139.5700000000002 440.99999999999994 1139.3700000000001 440.99999999999994C1139.16 440.99999999999994 1138.99 440.92999999999995 1138.8400000000001 440.78999999999996L1136.5800000000002 438.55999999999995L1134.3100000000002 440.78999999999996C1134.17 440.92999999999995 1133.9900000000002 440.99999999999994 1133.7900000000002 440.99999999999994C1133.5800000000002 440.99999999999994 1133.41 440.92999999999995 1133.2600000000002 440.78999999999996L1132.2200000000003 439.76C1132.0700000000002 439.62 1132.0000000000002 439.44 1132.0000000000002 439.24C1132.0000000000002 439.04 1132.0700000000002 438.87 1132.2200000000003 438.73L1134.4800000000002 436.5L1132.2200000000003 434.27C1132.0700000000002 434.13 1132.0000000000002 433.96 1132.0000000000002 433.76C1132.0000000000002 433.56 1132.0700000000002 433.38 1132.2200000000003 433.24L1133.2600000000002 432.21000000000004C1133.4100000000003 432.07000000000005 1133.5800000000002 432.00000000000006 1133.7900000000002 432.00000000000006C1133.9900000000002 432.00000000000006 1134.1700000000003 432.07000000000005 1134.3100000000002 432.21000000000004L1136.5800000000002 434.44000000000005L1138.8400000000001 432.21000000000004C1138.9900000000002 432.07000000000005 1139.16 432.00000000000006 1139.3700000000001 432.00000000000006C1139.5700000000002 432.00000000000006 1139.7500000000002 432.07000000000005 1139.89 432.21000000000004L1140.94 433.24C1141.0800000000002 433.38 1141.15 433.56 1141.15 433.76C1141.15 433.96 1141.0800000000002 434.13 1140.94 434.27L1138.67 436.5L1140.94 438.73C1141.0800000000002 438.87 1141.15 439.04 1141.15 439.24C1141.15 439.44 1141.0800000000002 439.62 1140.94 439.76Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1132,-432)"></path></svg> 	
						ul.cart-list
							li.cart-item.cart-item_product
								a(href="#")
									img(src="/images/product-2.png")
							li.cart-item.cart-item_title LEVANTE SOLARE 60 УЛЬТРАТОНКИЕ ЛЕТНИЕ
							li.cart-item.cart-item_price-one  250 руб.
							li.cart-item.cart-item_calc
								.btn-calc
									.btn-calc__left
										span 1
										input(type="text", value="1", name="")
									.btn-calc__right
										.btn-calc__plus
										.btn-calc__minus
							li.cart-item.cart-item_price
								.cart-price 500 руб.
							li.cart-item.cart-item_sale -
							li.cart-item.cart-item_del
								| <svg class="del-ico-black" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="10" height="9" viewBox="0 0 10 9"><title>CLOSE</title><desc>Created with Avocode.</desc><defs id="SvgjsDefs1001"></defs><path id="SvgjsPath1007" d="M1140.94 439.76L1139.89 440.78999999999996C1139.75 440.92999999999995 1139.5700000000002 440.99999999999994 1139.3700000000001 440.99999999999994C1139.16 440.99999999999994 1138.99 440.92999999999995 1138.8400000000001 440.78999999999996L1136.5800000000002 438.55999999999995L1134.3100000000002 440.78999999999996C1134.17 440.92999999999995 1133.9900000000002 440.99999999999994 1133.7900000000002 440.99999999999994C1133.5800000000002 440.99999999999994 1133.41 440.92999999999995 1133.2600000000002 440.78999999999996L1132.2200000000003 439.76C1132.0700000000002 439.62 1132.0000000000002 439.44 1132.0000000000002 439.24C1132.0000000000002 439.04 1132.0700000000002 438.87 1132.2200000000003 438.73L1134.4800000000002 436.5L1132.2200000000003 434.27C1132.0700000000002 434.13 1132.0000000000002 433.96 1132.0000000000002 433.76C1132.0000000000002 433.56 1132.0700000000002 433.38 1132.2200000000003 433.24L1133.2600000000002 432.21000000000004C1133.4100000000003 432.07000000000005 1133.5800000000002 432.00000000000006 1133.7900000000002 432.00000000000006C1133.9900000000002 432.00000000000006 1134.1700000000003 432.07000000000005 1134.3100000000002 432.21000000000004L1136.5800000000002 434.44000000000005L1138.8400000000001 432.21000000000004C1138.9900000000002 432.07000000000005 1139.16 432.00000000000006 1139.3700000000001 432.00000000000006C1139.5700000000002 432.00000000000006 1139.7500000000002 432.07000000000005 1139.89 432.21000000000004L1140.94 433.24C1141.0800000000002 433.38 1141.15 433.56 1141.15 433.76C1141.15 433.96 1141.0800000000002 434.13 1140.94 434.27L1138.67 436.5L1140.94 438.73C1141.0800000000002 438.87 1141.15 439.04 1141.15 439.24C1141.15 439.44 1141.0800000000002 439.62 1140.94 439.76Z " fill="#222222" fill-opacity="1" transform="matrix(1,0,0,1,-1132,-432)"></path></svg> 			
					.order__result-price Сумма к оплате: <div class="m-br"></div> 4 500 руб.
					.cabinet-box
						.left
							h2.info-title Персональная информация 
							label.account__label Фамилия
								input.accoint__inp(type="text", value="Васильевский", placeholder="Васильевский", name="surname")
							label.account__label Имя
								input.accoint__inp(type="text", placeholder="Дмитрий", value="Дмитрий", name="name")
							label.account__label Отчество
								input.accoint__inp(type="text", placeholder="Евгеньевич", value="Евгеньевич", name="secondname")
						.right
							h2.info-title Контактная информация 
							label.account__label Номер телефона
								input.accoint__inp(type="text", placeholder="+7(913) 913-15-15", value="+7(913) 913-15-15", name="phone")
							label.account__label Email
								input.accoint__inp(type="email", placeholder="example@mail.ru", value="example@mail.ru", name="email")
							label.account__label Адрес Доставки
								input.accoint__inp(type="text", placeholder="г. Новосибирск, ул. Ленина, 54, кв. 40", value="г. Новосибирск, ул. Ленина, 54, кв. 40", name="address")
					.order__city
						.select-wrap.select-wrap_line
							select.select(placeholder="Способ доставки: Почта Росиии", name="city")
								option
								option(value="1") Способ доставки: Почта Росиии
								option(value="2") Способ доставки: Почта Росиии
								option(value="3") Способ доставки: Почта Росиии
								option(value="4") Способ доставки: Почта Росиии
					.order__payment
						span.pay Выберите способ оплаты:
						.m-br
						label.pay__item
							input(type="radio", checked, name="pay")
							span.pay-card
						label.pay__item
							input(type="radio", name="pay")
							span.pay-ya
						label.pay__item
							input(type="radio", name="pay")
							span.pay-wm
					input.btn(type="submit", value="Перейти к оплате")
			.content-bottom						

block hidden
