extends ./tmp/_template.jade
include ./tmp/_bread-crumbs.jade

block title
	title Регистрация
block content
	.wrap-top
		.container.content-wrap
			.content-top
				+bread
			h1 Регистрация
			.authorization
				.title-form <span>Зарегистрируйтесь</span> или
					| 
					a(href="#") Войдите на сайт
				form
					label Номер телефона
						input(type="text" value="" placeholder="Телефон" name="tel")
					label E-mail
						input(type="text" value="" placeholder="E-mail" name="email")
					label Пароль
						input(type="text" value="" placeholder="Пароль" name="pass")
					label Подтверждение пароля
						input(type="text" value="" placeholder="Подтверждение пароля" name="pass-to")
					.btn-submit
						input.btn(type="submit" value="Зарегистрироваться")
				a.reset(href="#") Забыли пароль?
				
			.content-bottom						

block hidden
